/* Reset CSS for consistent appearance across browsers */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Nav bar section */
nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2 !important;
    height: 75px;
    background: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   }
   nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 90%;
    background: #000000;
    margin: auto;
   }
   nav .navbar .logo a{
     color: #fff;
     font-size: 27px;
     font-weight: 600;
     text-decoration: none;
   }
   nav .navbar .menu{
     display: flex;
   }
   .navbar .menu li{
     list-style: none;
     margin: 0 15px;
   }
   .navbar .menu li a{
     color: #fff;
     font-size: 17px;
     font-weight: 500;
     text-decoration: none;
   }
.logout-btn {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #c0392b;
}
/* Profile and Post Section */
.main-container{
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 10px;
}
#timelineContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 0px 20px;
}

.post {
  background-color: #000000;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.post h3 {
  font-size: 1.2em;
}

.post p {
  font-size: 1em;
  color: #939393;
}

.post-image {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

/* Footer Styling */
.footer {
    background-color: #333;
    color: #fff;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}

.footer p {
    font-size: 0.9em;
}